#root{
  --Storm: #222c3c ; 
  --Moon: #989da6 ; 
  --Leather: #93634a ; 
  --Nude: #ae9789 ;
  --Cloud: #ffffff;
}

html{
  background-color: var(--moon);
  color: var(--Cloud);
  overflow-x: hidden;
} 
.section{
  width: 80vw;
  padding:0 10vw 0 10vw;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
  margin: 5vh auto auto auto;
  color: var(--Cloud);
  overflow-x: hidden;
}
body{
  background-image: url("../public/4562472.jpg");
  background-size: contain;
  color: var(--Cloud);
  overflow-x: hidden;
}
.section div{
  flex:20%;
}
.section p{
  flex:50%;
}
@media(max-width:700px){
  .section div, .section p{
    flex:100%;
    align-items: center;
  }
  .section{
    justify-content: center;
  }
  .rev div{
    order: 1;
  }
  .rev p{
    order: 2;
  }
}
h1{
  font-size:xx-large;
  color: var(--Cloud);
}
.tables table{
  margin-top: 4vh;
  color: var(--Cloud);
  
}
table, td,th{
  color: var(--Cloud);
}
.tables table,.tables td,.tables th{
  border:2px solid var(--Cloud);
  border-collapse: collapse;
  align-items: center;
  justify-content: center;
  color: var(--Cloud);
}
.tables td,.tables th{
  min-width: 4vw;
  color: var(--Cloud);
}
.footer{
  color: var(--Cloud);
  background-color: var(--Storm);
  padding: 1vw;
}